
<h1>Sam Ong</h1>
<p>You found me!</p>

<p>This is still a work in progress. One moment, caller.</p>

<p>In the mean time, find me on
  <a href="https://twitter.com/sam_0ng">Twitter</a>,
  <a href="https://github.com/sam-ong">Github</a>,
  <a href="https://www.linkedin.com/in/sam-ong/">LinkedIn</a> or
  <a href="mailto:samongnz@gmail.com">send me an email</a>!
</p>
