// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  background-color: #56C6EF;
}

body {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
  color: #3e3947;
  text-align: center;
  padding-top: 15%;
}
